/*** ALL DEVICES' VARIABLES ***/

/* Typography */
$site-font-family: 'Roboto', sans-serif;
$font-weight-bold: bold;
$font-weight-500: 500;
$font-weight-normal: normal;

/* Color Schemes */
$background-color: #FFFFFF;
$background-color-search: #F8F8F8;
$border: 1px solid #D4D4D4;
$color:#888888;
$subscribe-btn-text-color: #FFFFFF;
$color-text: #D4D4D4;
$color-bg: #FFFFFF;
$btn-bg-color: #0095FF;
$btn-bg-color-comment: #B2DFFF;

/* Media Queries */
$mobile-max-width: 600px;