/*** ALL DEVICES' VARIABLES ***/
/*** MOBILE VARIABLES ***/
/* HEADER SECTION */
/* MAIN SECTION */
/* BONUS */
/* MUSIC SECTION */
/* SHOWS PAGE */
/*** MOBILE ***/
/* NAVIGATION */
/* ABOUT SECTION */
/* MUSIC SECTION */
/* GALLERY SECTION */
/* COMMENTS SECTION */
/* CONTACT SECTION */
/* SHOWS PAGE */
/* BONUS */
/* GLOBAL RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(../assets/typography/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../assets/typography/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "Poppins-Regular";
  src: url(../assets/typography/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-Thin";
  src: url(../assets/typography/Poppins-Thin.ttf);
}

/* NAVIGATION SECTION */
.header {
  color: #FFFFFF;
  /* SHOWS PAGE SECTION */
}

.header .header__bgImage {
  background-image: url(../assets/images/original/ana-grave-156852-unsplash.jpg);
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

@media (max-width: 760px) {
  .header .header__bgImage {
    background-image: url(../assets/images/for-mobile/max-320px/ana-grave-mobile-resized.jpg);
    background-size: cover;
  }
}

.header .header__bgImage .bgImage__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__bgImage .bgImage__navigation .bgImage__navigation--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 75%;
  padding: 2% 2%;
  font-family: "Poppins-Bold";
  padding-left: 8em;
  font-size: 1.125em;
}

.header .header__bgImage .bgImage__navigation .bgImage__navigation--left a {
  color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: 760px) {
  .header .header__bgImage .bgImage__navigation .bgImage__navigation--left {
    width: 50%;
    padding: 1em 0 0 1.5em;
    font-size: 0.8em;
  }
}

@media (min-width: 761px) {
  .header .header__bgImage .bgImage__navigation .bgImage__navigation--left {
    padding-left: 5.5em !important;
  }
}

.header .header__bgImage .bgImage__navigation .bgImage__navigation--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 25%;
  padding: 2% 2%;
  font-family: "Poppins-Bold";
  font-size: 1.125em;
}

.header .header__bgImage .bgImage__navigation .bgImage__navigation--right a {
  color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: 760px) {
  .header .header__bgImage .bgImage__navigation .bgImage__navigation--right {
    width: 50%;
    padding: 1em 1em 0 0;
    font-size: 0.8em;
  }
}

.header .header__bgImage .bgImage__text {
  height: 80vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__bgImage .bgImage__text .text__date {
  font-size: 5.25em;
  font-family: "Poppins-Bold";
}

@media (max-width: 760px) {
  .header .header__bgImage .bgImage__text .text__date {
    font-size: 2.25em;
  }
}

.header .header__bgImage .bgImage__text .text__album-name {
  font-size: 2.25em;
  padding: 1.2em 0;
  font-family: "Poppins-Regular";
}

@media (max-width: 760px) {
  .header .header__bgImage .bgImage__text .text__album-name {
    font-size: 1.25em;
  }
}

.header .header__bgImage .bgImage__text .text__button {
  font-family: "Poppins-SemiBold";
  background-color: #A0A0A0;
  display: inline-block;
  color: #FFFFFF;
  width: 198px;
  height: 55px;
  margin-top: 1em;
  padding: 15px 20px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  font-size: 1.125em;
  line-height: 0px;
  letter-spacing: 1px;
}

@media (max-width: 760px) {
  .header .header__bgImage .bgImage__text .text__button {
    letter-spacing: 0.5px;
    font-size: 0.9em;
    width: 144px;
    height: 40px;
  }
}

.header .header__shows__bgImage {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/images/original/hanny-naibaho-388579-unsplash.png);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/original/hanny-naibaho-388579-unsplash.png);
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

@media (max-width: 760px) {
  .header .header__shows__bgImage {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/images/for-mobile/max-320px/hanny-naibaho-mobile-resized.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/for-mobile/max-320px/hanny-naibaho-mobile-resized.jpg);
    background-size: cover;
  }
}

.header .header__shows__bgImage .bgImage__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__shows__bgImage .bgImage__navigation .bgImage__navigation--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 75%;
  padding: 2% 2%;
  font-family: "Poppins-Bold";
  padding-left: 8em;
  font-size: 1.125em;
}

.header .header__shows__bgImage .bgImage__navigation .bgImage__navigation--left a {
  color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: 760px) {
  .header .header__shows__bgImage .bgImage__navigation .bgImage__navigation--left {
    width: 50%;
    padding: 1em 0 0 1.5em;
    font-size: 0.8em;
  }
}

.header .header__shows__bgImage .bgImage__navigation .bgImage__navigation--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 25%;
  padding: 2% 2%;
  font-family: "Poppins-Bold";
  font-size: 1.125em;
}

.header .header__shows__bgImage .bgImage__navigation .bgImage__navigation--right a {
  color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: 760px) {
  .header .header__shows__bgImage .bgImage__navigation .bgImage__navigation--right {
    width: 50%;
    padding: 1em 1em 0 0;
    font-size: 0.8em;
  }
}

.header .header__shows__bgImage .bgImage__shows__text {
  color: #000000;
}

.header .header__shows__bgImage .bgImage__shows__text .shows__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 6em;
  color: #FFFFFF;
}

@media (max-width: 760px) {
  .header .header__shows__bgImage .bgImage__shows__text .shows__header {
    padding: 2em 0 0 1em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header .header__shows__bgImage .bgImage__shows__text .shows__header .shows__header--h1 {
  width: 30%;
  font-family: "Poppins-Bold";
  font-size: 5.25em;
  padding-bottom: 1em;
}

@media (max-width: 760px) {
  .header .header__shows__bgImage .bgImage__shows__text .shows__header .shows__header--h1 {
    font-size: 2.25em;
    padding-bottom: 0.8em;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.header .header__shows__bgImage .bgImage__shows__text .shows__header .shows__header--spacing {
  width: 55%;
}

.header .header__shows__bgImage #shows {
  width: 85%;
  margin: 0 auto;
}

@media (max-width: 760px) {
  .header .header__shows__bgImage #shows {
    width: 90%;
  }
}

.header .header__shows__bgImage #shows .shows__table {
  width: 100%;
  text-align: right;
}

@media (max-width: 760px) {
  .header .header__shows__bgImage #shows .shows__table .show__table__rows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: .7em;
    padding: 2em 0;
  }
}

@media (min-width: 761px) and (max-width: 900px) {
  .header .header__shows__bgImage #shows .shows__table .show__table__rows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1em;
    padding: 2em 0;
  }
}

.header .header__shows__bgImage #shows .shows__table .show__table__rows .shows__table__rows--ticket {
  text-align: left;
}

@media (max-width: 760px) {
  .header .header__shows__bgImage #shows .shows__table .show__table__rows .shows__table__rows--ticket button {
    width: 175px;
    height: 30px;
    font-size: .9em;
  }
}

@media (max-width: 760px) {
  .header .header__shows__bgImage #shows .shows__table tr .shows__table__rows--venue {
    font-size: 1em;
  }
}

.header .header__shows__bgImage #shows .shows__table tr #last,
.header .header__shows__bgImage #shows .shows__table tr .shows__table__rows--date,
.header .header__shows__bgImage #shows .shows__table tr .shows__table__rows--location,
.header .header__shows__bgImage #shows .shows__table tr .shows__table__rows--ticket {
  border-bottom: 0 solid #D7D7D7;
}

.header .header__shows__bgImage #shows .shows__table tr .shows__table__rows--date {
  font-size: 1.25em;
  font-family: "Poppins-Bold";
  padding: 0 15em 0 0;
}

.header .header__shows__bgImage #shows .shows__table tr td {
  font-size: 1.25em;
  font-family: "Poppins-Regular";
  border-bottom: 1px solid #D7D7D7;
}

.header .header__shows__bgImage #shows .shows__table tr td button {
  font-family: "Poppins-SemiBold";
  background-color: #A0A0A0;
  display: inline-block;
  color: #FFFFFF;
  width: 198px;
  height: 55px;
  margin-top: 1em;
  padding: 15px 20px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  font-size: 1.125em;
  line-height: 0px;
  letter-spacing: 1px;
}

.header .header__shows__bgImage #shows .shows__table tr .shows__table__rows--date,
.header .header__shows__bgImage #shows .shows__table tr .shows__table__rows--location,
.header .header__shows__bgImage #shows .shows__table tr .shows__table__rows--venue {
  text-align: left;
}

.header .header__shows__bgImage #shows .shows__table tr .shows__table__rows--venue {
  padding-bottom: 2em;
}

.header .header__shows__bgImage #shows .shows__table tr #last {
  padding-bottom: 8em;
}

/* ABOUT SECTION */
.about {
  width: 100%;
  min-height: 100vh;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 760px) {
  .about .about__header {
    padding: 2em 0 0 1em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about .about__header .about__header--h1 {
  width: 30%;
  font-family: "Poppins-Bold";
  font-size: 5.25em;
  padding-bottom: 1em;
}

@media (max-width: 760px) {
  .about .about__header .about__header--h1 {
    font-size: 2.25em;
    padding-bottom: 0.8em;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.about .about__header .about__header--spacing {
  width: 45%;
}

.about .about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 760px) {
  .about .about__info {
    display: block;
  }
}

.about .about__info .about__paragraph--left {
  width: 30%;
  font-family: "Poppins-Bold";
  font-size: 1.5em;
  line-height: 1.5em;
}

@media (max-width: 760px) {
  .about .about__info .about__paragraph--left {
    width: 90%;
    margin: 0 1em 1em 1em;
    font-size: 0.9em;
  }
}

.about .about__info .about__paragraph--right {
  width: 45%;
  font-family: "Poppins-Regular";
  font-size: 1.25em;
  line-height: 1.5em;
}

@media (max-width: 760px) {
  .about .about__info .about__paragraph--right {
    width: 90%;
    margin: 0 1em 1em 1em;
    font-size: 0.9em;
  }
}

/* MUSIC SECTION */
.music {
  width: 100%;
  min-height: 100vh;
  background-color: #F9F9F9;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.music .music__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 760px) {
  .music .music__header {
    padding: 2em 0 0 1em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.music .music__header .music__header--h1 {
  font-family: "Poppins-Bold";
  font-size: 5.25em;
  width: 30%;
  padding-bottom: 1em;
}

@media (max-width: 760px) {
  .music .music__header .music__header--h1 {
    font-size: 2.25em;
    padding-bottom: 0.8em;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.music .music__header .music__header--spacing {
  width: 45%;
}

.music .music__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 760px) {
  .music .music__info {
    display: block;
  }
}

.music .music__info .music__info--iframe {
  width: 30%;
}

.music .music__info .music__info--album {
  width: 45%;
  font-family: "Poppins-Regular";
}

@media (max-width: 760px) {
  .music .music__info .music__info--album {
    width: 90%;
    margin: 1em 1em 1em 1em;
  }
}

.music .music__info .music__info--album .music__info--h2 {
  padding-bottom: 1em;
  font-size: 1.5em;
}

@media (max-width: 760px) {
  .music .music__info .music__info--album .music__info--h2 {
    font-size: 0.9em;
  }
}

.music .music__info .music__info--album .music__info--h2 span {
  font-family: "Poppins-Bold";
}

.music .music__info .music__info--album .music__info--paragraph {
  font-family: "Poppins-Regular";
  font-size: 1.25em;
  line-height: 1.5em;
}

@media (max-width: 760px) {
  .music .music__info .music__info--album .music__info--paragraph {
    font-size: 0.9em;
  }
}

/* GALLERY SECTION */
.gallery {
  width: 100%;
  min-height: 100vh;
  background-color: #FFFFFF;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8em 0;
}

@media (max-width: 760px) {
  .gallery {
    margin: 0 0;
  }
}

.gallery .gallery__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 760px) {
  .gallery .gallery__header {
    margin: 0 0;
  }
}

@media (max-width: 320px) {
  .gallery .gallery__header {
    padding: 2em 0 0 1em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.gallery .gallery__header .gallery__header--h1 {
  font-family: "Poppins-Bold";
  font-size: 5.25em;
  width: 30%;
  padding-bottom: 1em;
}

@media (max-width: 760px) {
  .gallery .gallery__header .gallery__header--h1 {
    font-size: 2.25em;
    padding-bottom: 0.8em;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.gallery .gallery__header .gallery__header--spacing {
  width: 45%;
}

.gallery .gallery__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .gallery__rows .gallery__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 8%;
}

@media (max-width: 760px) {
  .gallery .gallery__rows .gallery__div {
    margin: 1em;
  }
}

.gallery .gallery__rows .gallery__div .rows--image-1 {
  width: 285px;
  height: 285px;
  background-image: url(../assets/images/1-ian-dooley-resized.jpg);
  background-size: cover;
  margin: 0.5em 0.5em;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.gallery .gallery__rows .gallery__div .rows--image-1:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-filter: hue-rotate(270deg);
          filter: hue-rotate(270deg);
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

.gallery .gallery__rows .gallery__div .rows--image-2 {
  width: 285px;
  height: 285px;
  background-image: url(../assets/images/2-ana-grave-resized.jpg);
  background-size: cover;
  margin: 0.5em 0.5em;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.gallery .gallery__rows .gallery__div .rows--image-2:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-filter: contrast(300%);
          filter: contrast(300%);
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

.gallery .gallery__rows .gallery__div .rows--image-3 {
  width: 285px;
  height: 285px;
  background-image: url(../assets/images/3-hanny-naibaho-resized.jpg);
  background-size: cover;
  margin: 0.5em 0.5em;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.gallery .gallery__rows .gallery__div .rows--image-3:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

.gallery .gallery__rows .gallery__div .rows--image-4 {
  width: 285px;
  height: 285px;
  background-image: url(../assets/images/4-bryan-minear-resized.jpg);
  background-size: cover;
  margin: 0.5em 0.5em;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.gallery .gallery__rows .gallery__div .rows--image-4:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

.gallery .gallery__rows .gallery__div .rows--image-5 {
  width: 285px;
  height: 285px;
  background-image: url(../assets/images/5-mike-giles-resized.jpg);
  background-size: cover;
  margin: 0.5em 0.5em;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.gallery .gallery__rows .gallery__div .rows--image-5:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

.gallery .gallery__rows .gallery__div .rows--image-6 {
  width: 285px;
  height: 285px;
  background-image: url(../assets/images/6-melanie-van-leeuwen-resized.jpg);
  background-size: cover;
  margin: 0.5em 0.5em;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.gallery .gallery__rows .gallery__div .rows--image-6:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

.gallery .gallery__rows .gallery__div .rows--image-7 {
  width: 285px;
  height: 285px;
  background-image: url(../assets/images/7-francisco-moreno-resized.jpg);
  background-size: cover;
  margin: 0.5em 0.5em;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.gallery .gallery__rows .gallery__div .rows--image-7:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-filter: contrast(300%);
          filter: contrast(300%);
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

.gallery .gallery__rows .gallery__div .rows--image-8 {
  width: 285px;
  height: 285px;
  background-image: url(../assets/images/8-felix-russell-saw-resized.jpg);
  background-size: cover;
  margin: 0.5em 0.5em;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.gallery .gallery__rows .gallery__div .rows--image-8:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-filter: contrast(300%);
          filter: contrast(300%);
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

.gallery .gallery__rows .gallery__div .rows--image-9 {
  width: 285px;
  height: 285px;
  background-image: url(../assets/images/9-paulette-wooten-resized.jpg);
  background-size: cover;
  margin: 0.5em 0.5em;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.gallery .gallery__rows .gallery__div .rows--image-9:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

.gallery .gallery__rows .gallery__div .rows--image-10 {
  width: 285px;
  height: 285px;
  background-image: url(../assets/images/10-wesley-tingey-resized.jpg);
  background-size: cover;
  margin: 0.5em 0.5em;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.gallery .gallery__rows .gallery__div .rows--image-10:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

.gallery .gallery__rows .gallery__div .rows--image-11 {
  width: 285px;
  height: 285px;
  background-image: url(../assets/images/11-abigail-keenan-resized.jpg);
  background-size: cover;
  margin: 0.5em 0.5em;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.gallery .gallery__rows .gallery__div .rows--image-11:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

.gallery .gallery__rows .gallery__div .rows--image-12 {
  width: 285px;
  height: 285px;
  background-image: url(../assets/images/12-ciprian-boiciuc-resized.jpg);
  background-size: cover;
  margin: 0.5em 0.5em;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.gallery .gallery__rows .gallery__div .rows--image-12:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

/* COMMENTS SECTION */
.comments {
  width: 100%;
  min-height: 100vh;
  background-color: #F9F9F9;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comments .comments__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 760px) {
  .comments .comments__header {
    padding: 2em 0 0 1em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.comments .comments__header .comments__header--h1 {
  width: 30%;
  font-family: "Poppins-Bold";
  font-size: 5.25em;
  padding-bottom: 1em;
}

@media (max-width: 760px) {
  .comments .comments__header .comments__header--h1 {
    font-size: 2.25em;
    padding-bottom: 0.8em;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.comments .comments__header .comments__header--spacing {
  width: 45%;
}

.comments #comments__form #grabComments {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comments #comments__form #grabComments #message {
  font-size: 1.25em;
  font-family: "Poppins-Bold";
  margin: 2em 0 2em 6em;
  color: #272727;
}

@media (max-width: 760px) {
  .comments #comments__form #grabComments #message {
    font-size: 1em;
    margin: 2em 0 2em .8em;
  }
}

@media (min-width: 761px) and (max-width: 900px) {
  .comments #comments__form #grabComments #message {
    font-size: 1em;
    margin: 2em 0 2em 5.2em;
  }
}

.comments #comments__form #grabComments .grabComments__name--heading {
  width: 50%;
  font-size: 2.25em;
  font-family: "Poppins-Bold";
  margin-left: 3.3em;
  margin-bottom: 0.85em;
}

@media (max-width: 760px) {
  .comments #comments__form #grabComments .grabComments__name--heading {
    margin-left: .8em;
    font-size: 1.5em;
    width: 100%;
  }
}

@media (min-width: 761px) and (max-width: 900px) {
  .comments #comments__form #grabComments .grabComments__name--heading {
    margin-left: 3.5em;
    font-size: 1.5em;
    width: 100%;
  }
}

.comments #comments__form #grabComments #name {
  width: 50%;
  height: 5vh;
  font-size: 1.25em;
  margin-left: 6em;
  margin-bottom: 2em;
  padding: 0.5em;
  border: 1px solid #D7D7D7;
  font-family: "Poppins-Regular";
}

@media (max-width: 760px) {
  .comments #comments__form #grabComments #name {
    margin-left: .8em;
    font-size: 1em;
    height: 4vh;
    width: 80%;
  }
}

@media (min-width: 761px) and (max-width: 900px) {
  .comments #comments__form #grabComments #name {
    margin-left: 5.2em;
    font-size: 1em;
    height: 3vh;
    width: 68%;
  }
}

.comments #comments__form #grabComments .grabComments__comment--heading {
  width: 50%;
  font-size: 2.25em;
  font-family: "Poppins-Bold";
  margin-left: 3.3em;
  margin-bottom: 0.85em;
}

@media (max-width: 760px) {
  .comments #comments__form #grabComments .grabComments__comment--heading {
    margin-left: .8em;
    font-size: 1.5em;
    width: 100%;
  }
}

@media (min-width: 761px) and (max-width: 900px) {
  .comments #comments__form #grabComments .grabComments__comment--heading {
    margin-left: 3.5em;
    font-size: 1.5em;
    width: 100%;
  }
}

.comments #comments__form #grabComments #comment {
  width: 50%;
  height: 30vh;
  font-size: 1.25em;
  margin-left: 6em;
  margin-bottom: 3em;
  padding: 0.5em;
  border: 1px solid #D7D7D7;
  font-family: "Poppins-Regular";
}

@media (max-width: 760px) {
  .comments #comments__form #grabComments #comment {
    margin-left: .8em;
    font-size: 1em;
    height: 10vh;
    width: 80%;
  }
}

@media (min-width: 761px) and (max-width: 900px) {
  .comments #comments__form #grabComments #comment {
    margin-left: 5.2em;
    font-size: 1em;
    height: 20vh;
    width: 68%;
  }
}

.comments #comments__form #grabComments button[type="submit"] {
  width: 198px;
  height: 55px;
  color: #FFFFFF;
  background-color: #000000;
  padding: 15px 20px;
  margin-left: 6.7em;
  border-radius: 4px;
  font-size: 1.1em;
  font-family: "Poppins-SemiBold";
  text-align: center;
}

@media (max-width: 760px) {
  .comments #comments__form #grabComments button[type="submit"] {
    margin-left: .7em;
  }
}

@media (min-width: 761px) and (max-width: 900px) {
  .comments #comments__form #grabComments button[type="submit"] {
    margin-left: 4.7em;
  }
}

.comments #comments__form #comments__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

/* FOOTER SECTION */
footer {
  width: 100%;
  min-height: 100vh;
  background-color: #272727;
  color: #FFFFFF;
  /* CONTACT SECTION */
  /* SOCIAL MEDIA ICONS */
  /* COPYRIGHT SECTION */
}

footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .contact .contact__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 8em;
}

@media (max-width: 760px) {
  footer .contact .contact__header {
    margin: 0 0;
  }
}

@media (max-width: 760px) {
  footer .contact .contact__header {
    padding: 2em 0 0 1em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer .contact .contact__header .contact__header--h1 {
  width: 30%;
  font-family: "Poppins-Bold";
  font-size: 5.25em;
  padding-bottom: 1em;
}

@media (max-width: 760px) {
  footer .contact .contact__header .contact__header--h1 {
    font-size: 2.25em;
    padding-bottom: 0.8em;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

footer .contact .contact__header .contact__header--spacing {
  width: 45%;
}

footer .contact .contact__addresses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-family: "Poppins-Regular";
  font-size: 1.25em;
  margin-bottom: 1em;
  margin-left: 8%;
}

@media (max-width: 760px) {
  footer .contact .contact__addresses {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 1em;
  }
}

footer .contact .contact__addresses .contact__addresses--one {
  padding-right: 2em;
  width: 30%;
  line-height: 1.5em;
  font-size: 0.8em;
}

@media (max-width: 760px) {
  footer .contact .contact__addresses .contact__addresses--one {
    width: 100%;
    padding-bottom: 2em;
  }
}

footer .contact .contact__addresses .contact__addresses--one .contact__names--one {
  font-family: "Poppins-Bold";
}

footer .contact .contact__addresses .contact__addresses--two {
  padding-right: 2em;
  width: 30%;
  line-height: 1.5em;
  font-size: 0.8em;
}

@media (max-width: 760px) {
  footer .contact .contact__addresses .contact__addresses--two {
    width: 100%;
    padding-bottom: 2em;
  }
}

footer .contact .contact__addresses .contact__addresses--two .contact__names--two {
  font-family: "Poppins-Bold";
}

footer .contact .contact__addresses .contact__addresses--three {
  width: 30%;
  line-height: 1.5em;
  font-size: 0.8em;
}

@media (max-width: 760px) {
  footer .contact .contact__addresses .contact__addresses--three {
    width: 100%;
    padding-bottom: 2em;
  }
}

footer .contact .contact__addresses .contact__addresses--three .contact__names--three {
  font-family: "Poppins-Bold";
}

footer .contact .contact__addresses a {
  color: #FFFFFF;
  text-decoration: none;
}

footer .socialMediaIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: auto;
  margin: 4em 0;
}

@media (max-width: 760px) {
  footer .socialMediaIcon {
    margin: 2em 0 2em 1em;
  }
}

footer .socialMediaIcon .socialMediaIcon--instagram {
  width: 10%;
  height: 4vh;
  background-image: url(../assets/social-media-icons/svg/Instagram.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 6.6em;
  margin-right: 1em;
}

@media (max-width: 760px) {
  footer .socialMediaIcon .socialMediaIcon--instagram {
    width: 30%;
    margin: 0;
  }
}

footer .socialMediaIcon .socialMediaIcon--facebook {
  width: 10%;
  height: 4vh;
  background-image: url(../assets/social-media-icons/svg/Facebook.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 760px) {
  footer .socialMediaIcon .socialMediaIcon--facebook {
    width: 30%;
    margin: 0;
  }
}

footer .socialMediaIcon .socialMediaIcon--twitter {
  width: 40%;
  height: 4vh;
  background-image: url(../assets/social-media-icons/svg/Twitter.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 760px) {
  footer .socialMediaIcon .socialMediaIcon--twitter {
    width: 30%;
    margin: 0;
  }
}

footer .socialMediaIcon .socialMediaIcon--spacing {
  width: 40%;
}

footer .copyright {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .copyright .copyright--info {
  font-family: "Poppins-Regular";
  font-size: 0.7em;
  margin-left: 11em;
  margin-top: 10em;
  width: 50%;
}

@media (max-width: 760px) {
  footer .copyright .copyright--info {
    padding: 0 0 2em 1em;
    margin: 5em 0 0 1em;
    width: 90%;
  }
}

footer .copyright .copyright--spacing {
  width: 50%;
}

@media (max-width: 760px) {
  footer .copyright .copyright--spacing {
    width: 10%;
  }
}
/*# sourceMappingURL=style.css.map */