html, body {
margin: 0;
padding: 0;
border: 0;
}

#container {
    width: 490px;
    height: 490px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    postion: relative;
}

.box {
    background-color: red;
}

#top-left {
    display: inline-block;
    margin:0 0 20px 0;
    padding: 0;
    width: 150px;
    height: 150px;
}

#top-center {
    display: inline-block;
    margin:0 20px 20px 20px;
    padding: 0;
    width: 150px;
    height: 150px;
}

#top-right {
    display: inline-block;
    padding: 0;
    margin:0 0 20px 0;
    width: 150px;
    height: 150px;
}

#center-left {
    margin:0 0 20px 0;
    float: left;
    width: 150px;
    height: 150px;
}

#center {
    margin:0 20px 20px 20px;
    float: left;
    width: 150px;
    height: 150px;
}

#center-right {
    margin:0 0 20px 0;
    float: left;
    width: 150px;
    height: 150px;
}

#bottom-left {
    margin:0 0 0 0;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 340px;
}

#bottom-center {
    margin:0 0 0 0;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 340px;
    left: 170px;
}

#bottom-right {
    margin:0 0 0 0;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 340px;
    left: 340px;
}
