/* Global Viewport Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Logo and Background Image */
#logo {
    width: 100%;
    height: auto;
    display: block;
    background-color: #000;
    opacity: 0.8;   
    position: fixed;
    z-index: 9999;    
 }

#logo figure {
    margin: 0;
}

#logo img {
    width: 18vw;
    height: auto;
}

#background {
    position: relative;
    text-align: center;
    color: #1e91ff;
}

#background img {
    width: 100%;
    height: auto;
}


#background h1 {
    font-size: 5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Navigation */
nav {
    display: inline-block;
    border: 1px solid black;
    width: auto;
    height: auto;
    padding: 20px 40px 0 20px;       
}

nav ul {
    list-style-type: none; 
}

nav ul li a {
    text-decoration: none;
    font-size: 1.6em;
    line-height: 2em;
    color: #1a45bd; 
}

/* Main Content */
main {
    display: inline-block;
    border: 1px solid red;
    width: 100%;
    height: auto;    
}

section, header {
    display: inline-block;
}

h2 {
    border: 2px solid grey;
}

#web-dev {
    border: 1px solid black;
}

#user-exp {
    border: 1px solid black; 
}

#digital {
    border: 1px solid black;  
}

#ios {
    border: 1px solid black; 
}