/* Global Viewport Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Logo and Background Image */
#logo {
    width: 100%;
    height: auto;
    display: block;
    background-color: #000;
    opacity: 0.8;   
    position: fixed;
    z-index: 9999;    
 }

#logo figure {
    margin: 0;
}

#logo img {
    width: 18vw;
    height: auto;
}

#background {
    position: relative;
    text-align: center;
    color: #1e91ff;
}

#background img {
    width: 100%;
    height: auto;
}

#background h1 {
    font-size: 4vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Navigation */
nav {
    display: inline-block;
    width: 20%;
    height: auto;
    padding: 20px 40px 0 20px;       
}

nav ul {
    list-style-type: none; 
}

nav ul li a {
    text-decoration: none;
    font-size: 3vh;
    line-height: 2em;
    color: #1a45bd; 
}

/* Courses */
main {
    display: inline-block;
}

#courses {
    display: inline-block;
    width: 78%;
    vertical-align: top;    
}

#course-headings {
    width: 100%;
}

section, h2, h3 {
    display: inline-block;
}

h2 {
    padding: 10px 0 30px 10px;
    color: #1a45bd;
    font-size: 3vw;
    width: 75vw;    
}

#web-dev {
    border: 1px solid black;
    padding: 20px 40px 200px 20px;
    font-size: 2vw;
    width: 16vw;
    height: 5vh;
    border-radius: 10px;
    vertical-align: top;
    margin-right: 30px;
}

#user-exp {
    border: 1px solid black;
    padding: 20px 40px 200px 20px;
    font-size: 2vw;
    width: 16vw;
    height: 5vh;
    border-radius: 10px;
    vertical-align: top;
    margin-right: 30px; 
}

#digital {
    border: 1px solid black;
    padding: 20px 40px 200px 20px;
    font-size: 2vw;
    width: 16vw;
    height: 5vh;
    border-radius: 10px;
    vertical-align: top;
    margin-right: 30px;
}

#ios {
    border: 1px solid black;
    padding: 20px 40px 200px 20px;
    font-size: 2vw;
    width: 16vw;
    height: 5vh;
    border-radius: 10px;
    vertical-align: top;
}