html, body {
margin: 0px;
padding: 0px;
border: 0px;
}

* {
    box-sizing: border-box;
}

main {
    border: 1px solid black;
    padding: 25px 50px 28px;
    margin: 50px 200px;
    border: 1px solid rgb(221, 221, 221) !important;
    max-width: 564px;
    margin-left: auto;
    margin-right: auto;
    visibility: visible;
    min-height: 887.765px;
}

.border-top {
    border-top: 0px;
}

header {
    border-top: 5px solid #191970;
    border-bottom: 5px solid #191970;
    position: relative;
    width: auto;
    min-height: 110px;
}

section {
    margin: 20px 0px 0px 0px;
    border-top: 1px solid #DDDCE2;
    border-bottom: none !important;
}

h1 {
    display: inline-block;
    font-size: 1.8em;
    font-weight: 700;
    display: block;
    padding: 5px 0px 0px 0px;
    margin: 0px;
    float: left;

}

img {
    width: 20%;
    height: auto;
    position: absolute;
    top: 8px;
    right: 0px;
}

h2 {
    text-decoration: underline;
    color: #191970;
}

h4 {
    margin: 20px 0px 0px 0px;
    padding:5px 0px 2px 0px;
}

h5 {
    margin: 0px;
    padding:2px 0px;
}

.resp-heading {
    margin: 20px 0px 0px 0px;
}

a {
    display: inline-block;
    float: left;
}

.clear {
    clear: both;
}

ul {
    margin: 0px;
}
ul li {
    padding-left: 5px;
    margin: 0 0 0 -20px;
}

span {
    font-weight: bold;
}
