/* GLOBAL RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #F5DDD0;
}

/* COMMON STYLES */
nav h1, h2 {
    padding: 22px;
}

/* NAVBAR */
nav {
    border-bottom: 4px solid #568D98;
}
nav h1 {
    font-size: 3.1em;
}
nav h1 a {
    text-decoration: none;
    color: black;
}

/* MID-SECTION */
#family-pic {
    display: inline-block;
    width: 48%;
    height: auto;
}
#family-pic img {
    padding: 10px 30px; 
    width: 100%;
    height: auto;
}
#family-bio {
    display: inline-block;
    position: relative;
    width: 48%;
    height: auto;
}
#family-bio p {
    display: inline-block;
    width: 100%;
    height: 10%;
    text-align: center;
    position:absolute;
    bottom: 260px; 
}

/* BOTTOM-SECTION */
h3 {
    padding: 0 0 10px 22px;
    font-size: 0.8em;
    font-weight: 100;
}
#pam {
    display: inline-block;
    width: 32%;
    height: auto;
}
#pam img {
    padding: 10px 10px 10px 22px; 
    width: 100%;
    height: auto;
}
#pam h2 {
    display: inline-block;
    position: relative;
    bottom: 91px;
    left: 7px; 
}
#pam h2 {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px #686868
}

#dougie {
    display: inline-block;
    width: 32%;
    height: auto;
}
#dougie img {
    padding: 10px 10px 10px 22px; 
    width: 100%;
    height: auto;
}
#dougie h2 {
    display: inline-block;
    position: relative;
    bottom: 91px;
    left: 7px;
}

#dougie h2 {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px #686868
}

#summer {
    display: inline-block;
    width: 32%;
    height: auto;
}
#summer img {
    padding: 10px 10px 10px 22px; 
    width: 100%;
    height: auto;
}
#summer h2 {
    display: inline-block;
    position: relative;
    bottom: 91px;
    left: 7px;
}

#summer h2 {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px #686868
}
