/* GLOBAL RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #F5DDD0;
}

/* COMMON STYLES */
nav h1, h2, h3 {
    padding: 22px;
}

/* NAVBAR */
nav {
    border-bottom: 4px solid #568D98;
}
nav h1 {
    font-size: 3.1vh;
}
nav h1 a {
    text-decoration: none;
    color: black;
}

/* MID-SECTION */
#family-bio {
    width: 100%;
    height: auto;
}
#family-bio img {
    padding: 10px 30px; 
    width: 45%;
    height: auto;
}
#family-bio p {
    display: inline-block;
    width: 45%;
    height: 10%;
    text-align: center;
    position: relative;
    bottom: 105px; 
}