$header-footer-color: #FFFFFF;
$main-color: #000000;
$section-background-color: #F9F9F9;
$site-footer-bg-color: #272727;
$text-button-color: #A0A0A0;

$site-font-bold: "Poppins-Bold";
$site-font-semibold: "Poppins-SemiBold";
$site-font-regular: "Poppins-Regular";

$mobile-max-width-small: 320px;
$mobile-max-width-mid: 768px;
$mobile-max-width-large: 959px;
$dt-lp-min-width: 960px;