/* GLOBAL RESETS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../assets/typography/Poppins-Bold.ttf);
}    

.header {
    position: relative;
    color: #FFFFFF;
}

.header__navigation {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
}

.header__navigation--left {
    display: flex;
    justify-content: flex-start;
    width: 75%;
    padding: 2% 5%;
}

.header__navigation--left a {
    text-decoration: none;
}

.header__navigation--right {
    display: flex;
    justify-content: space-around;
    width: 25%;
    padding: 2% 2%;
}

.header__navigation--right a {
    text-decoration: none;
}

.header__navigation a {
    color: #FFFFFF;
}

.header__background-image img {
    width: 100%;
    height: auto;
}

.text-on-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-on-image h1 {
    font-size: 84px;
    font-family: "Poppins-Bold";
}

.text-on-image h3 {
    font-size: 36px;
}

.text-on-image__button {
    font-family: Poppins;
    background-color: #A0A0A0;
    display: inline-block;
    color: #FFFFFF;
    width: 198px;
    height: 55px;
    padding: 15px 20px;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    line-height: 0px;
    letter-spacing: 1px;
}

.text-on-image__album-name {
    padding-bottom: 20px;
}

.about__header {
    border: 2px solid red;
}

.about__paragraphs {
    border: 2px solid yellow;
    display: flex;
}

.music {
    border: 2px solid blue;
}

.music__info {
    display:flex;
    justify-content: flex-start;
    overflow:hidden;
}

#music__info--image {
    background-image: url(../assets/images/music-section-bryan-minear-resized.jpg);
    background-size: 326px 326px;
    background-repeat: no-repeat;
    width: 326px;
    height: 451px;
    display: flex;
    justify-content: left;
}

.music__info--left {
    float:left;
}

.music__info--right {
    float: right;
}