/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../assets/typography/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../assets/typography/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../assets/typography/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Thin";
    src: url(../assets/typography/Poppins-Thin.ttf);
}

.header {
    color: #FFFFFF;
}

.header__bgImage {
    background-image: url(../assets/images/original/ana-grave-156852-unsplash.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.bgImage__navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.bgImage__navigation--left {
    display: flex;
    justify-content: flex-start;
    width: 75%;
    padding: 2% 2%;
    font-family: "Poppins-Bold";
    padding-left: 8em;
    font-size: 1.125em;
}

.bgImage__navigation--left a {
    text-decoration: none;
    color: #FFFFFF;   
}

.bgImage__navigation--right {
    display: flex;
    justify-content: space-around;
    width: 25%;
    padding: 2% 2%;
    font-family: "Poppins-Bold";
    font-size: 1.125em;
}

.bgImage__navigation--right a {
    text-decoration: none;
    color: #FFFFFF;
}

.bgImage__text {
    height: 80vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.text__date {
    font-size: 5.25em;
    font-family: "Poppins-Bold";
}

.text__album-name {
    font-size: 2.25em;
    padding: 1.2em 0;
    font-family: "Poppins-Regular";
}

.text__button {
    font-family: "Poppins-SemiBold";
    background-color: #A0A0A0;
    display: inline-block;
    color: #FFFFFF;
    width: 198px;
    height: 55px;
    margin-top: 1em;
    padding: 15px 20px;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    font-size: 1.125em;
    line-height: 0px;
    letter-spacing: 1px;
}
.about {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__header {    
    display: flex;
    justify-content: space-evenly;
}

.about__header--h1 {
    width: 30%;
    font-family: "Poppins-Bold";
    font-size: 5.25em;    
    padding-bottom: 1em;
}

.about__header--spacing {
    width: 45%;
}

.about__info {
    display: flex;
    justify-content: space-evenly; 
}

.about__paragraph--left {
    width: 30%;
    font-family: "Poppins-Bold";
    font-size: 1.5em;
    line-height: 1.5em; 
}

.about__paragraph--right {
    width: 45%;    
    font-family: "Poppins-Regular";
    font-size: 1.25em;
    line-height: 1.5em;   
}

.music {
    width: 100%;
    height: 100vh;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.music__header {
    display: flex;
    justify-content: space-evenly;
}

.music__header--h1{
    font-family: "Poppins-Bold";
    font-size: 5.25em;
    width: 30%;
    padding-bottom: 1em;
}

.music__header--spacing{
    width: 45%;
}

.music__info {
    display: flex;
    justify-content: space-evenly; 
}

#iframe__image {
    background-image: url(../assets/images/music-section-bryan-minear-resized.jpg);
    background-size: 326px 326px;
    background-repeat: no-repeat;
    width: 326px;
    height: 451px;
    display: flex;
    justify-content: left;
}

.music__info--iframe {
    width: 30%;
}

.music__info--album {
    width: 45%;
    font-family: "Poppins-Regular";
}

.music__info--h2{
    padding-bottom: 1em;
    font-size: 1.5em;
}

.music__info--h2 span {
    font-family: "Poppins-Bold";
}

.music__info--paragraph {
    font-family: "Poppins-Regular";
    font-size: 1.25em;
    line-height: 1.5em;
}

.gallery {
    width: 100%;
    min-height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    border: 3px dashed crimson;
}

.gallery__header {
    display: flex;
    justify-content: space-evenly;
    border: 1px dashed crimson;
}

.gallery__header--h1{
    font-family: "Poppins-Bold";
    font-size: 5.25em;
    width: 30%;
    padding-bottom: 1em;
    border: 1px dashed crimson;
}

.gallery__header--spacing{
    width: 45%;
    border: 1px dashed crimson;
}

.gallery__rows{
    display: flex; 
    justify-content: center;    
    border: 1px dashed crimson;
    flex-wrap: wrap; 
}
.rows--image-1 {
    width: 285px;
    height: 285px;
    background-image: url(../assets/images/1-ian-dooley-resized.jpg);
    background-size: cover;
    border: 1px dashed crimson;
    margin: 0.5em 0.5em;
}
.rows--image-2 {
    width: 285px;
    height: 285px;
    background-image: url(../assets/images/2-ana-grave-resized.jpg);
    background-size: cover; 
    border: 1px dashed crimson;
    margin: 0.5em 0.5em;
}
.rows--image-3 {
    width: 285px;
    height: 285px;
    background-image: url(../assets/images/3-hanny-naibaho-resized.jpg);
    background-size: cover;
    border: 1px dashed crimson;
    margin: 0.5em 0.5em;
}
.rows--image-4 {
    width: 285px;
    height: 285px;
    background-image: url(../assets/images/4-bryan-minear-resized.jpg);
    background-size: cover;
    border: 1px dashed crimson;
    margin: 0.5em 0.5em;
}

.rows--image-5 {
    width: 285px;
    height: 285px;
    background-image: url(../assets/images/5-mike-giles-resized.jpg);
    background-size: cover;
    border: 1px dashed crimson;
    margin: 0.5em 0.5em;
}
.rows--image-6 {
    width: 285px;
    height: 285px;
    background-image: url(../assets/images/6-melanie-van-leeuwen-resized.jpg);
    background-size: cover;
    border: 1px dashed crimson;
    margin: 0.5em 0.5em;
}
.rows--image-7 {
    width: 285px;
    height: 285px;
    background-image: url(../assets/images/7-francisco-moreno-resized.jpg);
    background-size: cover;
    margin: 0.5em 0.5em;
    border: 1px dashed crimson;
}
.rows--image-8 {
    width: 285px;
    height: 285px;
    background-image: url(../assets/images/8-felix-russell-saw-resized.jpg);
    background-size: cover;
    border: 1px dashed crimson;
    margin: 0.5em 0.5em;
}

.rows--image-9 {
    width: 285px;
    height: 285px;
    background-image: url(../assets/images/9-paulette-wooten-resized.jpg);
    background-size: cover;
    margin: 0.5em 0.5em;
    border: 1px dashed crimson;
}
.rows--image-10 {
    width: 285px;
    height: 285px;
    background-image: url(../assets/images/10-wesley-tingey-resized.jpg);
    background-size: cover;
    margin: 0.5em 0.5em;
    border: 1px dashed crimson;
}
.rows--image-11 {
    width: 285px;
    height: 285px;
    background-image: url(../assets/images/11-abigail-keenan-resized.jpg);
    background-size: cover;
    margin: 0.5em 0.5em;
    border: 1px dashed crimson;
}
.rows--image-12 {
    width: 285px;
    height: 285px;
    background-image: url(../assets/images/12-ciprian-boiciuc-resized.jpg);
    background-size: cover;
    margin: 0.5em 0.5em;
    border: 1px dashed crimson;
   
}
