activities/applyingCSSSpecificity/styles/* linguist-vendored
activities/applyingCSSUnits/styles/* linguist-vendored
activities/basicWebPage/styles/* linguist-vendored
activities/complexSelectors/styles/* linguist-vendored
activities/multicolumnLayoutSite/styles/* linguist-vendored
project/artGallery/styles/* linguist-vendored